<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skate is Life</title>
</head>
<body>
    <nav class="menu">
    
      
      <ul> 
       <li><a routerLink ="/">Inicio</a></li>
       <hr>
       <li><a routerLink ="acessorios">Acessorios</a></li>
       <hr>
       <li><a routerLink = "customizaveis">Customizaveis</a></li>
       <hr>
       <li><a routerLink = "estilos">Estilos</a></li>
       <hr>
       <li><a routerLink = "infantil">Infantil</a></li>
       <hr>
       <li><a routerLink = "meninas">Meninas</a></li>
       <hr>
       <li><a routerLink = "meninos">Meninos</a></li>
       <hr>
       <li><a routerLink = "pecas">Pecas</a></li>
       <hr>
       <li><a routerLink = "pranchas">Pranchas</a></li>
       <hr>
       <li><a routerLink = "rolamentos">Rolamentos</a></li>
       <hr>
       <li><a routerLink = "surfe">Surfe</a></li>
      </ul>
 </nav>
</body>
</html>
