<div class="breadcrumb">
    <ul>
        <li>
            <a routerLink="">
                <h4>INICIO <span class="barra.crumb"> / </span></h4>
            </a>
        </li>
        <li>
            <h5 id="customizaveis-title">{{title}}</h5>
        </li>
    </ul>
</div>
<table>
    <tr class="customizaveis"> 
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_profissional_cisco_feminino_rosie_abec_7_762_1_20210225101634.jpeg" alt=""></td>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_profissional_solo_decks_colagem_1_711_1_20210225101634.jpeg" alt=""></td>
        <td><img src="https://images-americanas.b2w.io/produtos/01/00/img/30382/1/30382152_1GG.jpg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Skate Montado Profissional Cisco Feminino Rosie - Abec 7</th>
        <th>Skate Montado Profissional Solo Decks Colagem #1</th>
        <th>Skate completo Profissional Black Star Cruz 8.0</th>
    </tr>
    
    <tr>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_iniciante_solo_colagem_blue_7_75_721_1_20210225101634.jpeg" alt=""></td>
        <td><img src="https://a-static.mlcdn.com.br/1500x1500/skate-iniciante-completo-progress-la-casa-progress-pgs/urbansports/sk8inipgslacasa/e4c3323fe0ceb1e7d025002a5c856bba.jpg" alt=""></td>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_profissional_solo_decks_pop_art_1_abec_7_774_1_20210225101635.jpeg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Skate Infantil e Iniciante Narina Cobra</th>
        <th>Skate Iniciante Completo Progress - La casa - Progress</th>
        <th>Skate Montado Profissional Solo Decks Pop Art 1"</th>
    </tr>
    
    <tr>
        <td><img src="https://www.urbansports.com.br/media/catalog/product/cache/1/image/800x/9df78eab33525d08d6e5fb8d27136e95/m/a/mario_copiar.jpg" alt=""></td>
        <td><img src="https://static.netshoes.com.br/produtos/skate-feminino-iniciante-completo-progress-pgs-bunny/21/DEC-0254-221/DEC-0254-221_zoom1.jpg?ts=1632194614&ims=544x" alt=""></td>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyWGWPN5yMi03BPMBovcO5AKLF8ZgCmL-uj9COUK9UTro0rJFACkVG610-ne7uewh8g48&usqp=CAU" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Skate Iniciante Completo Progress - PGS Mario</th>
        <th>Skate Feminino Iniciante Completo Progress - PGS Bunny</th>
        <th>Skate Feminino Iniciante Completo Progress - PGS Jovem Poderosa</th>
    </tr>
    
    <tr>
        <td><img src="https://www.urbansports.com.br/media/catalog/product/cache/1/image/800x/9df78eab33525d08d6e5fb8d27136e95/g/i/girl_power_flores.jpg" alt=""></td>
    </tr>
    <tr class="descrição">
        <th>Skateboards Flip Lance Mountain Vato Skull Deck 9.0"</th>
    </tr>
    </table>
    
