<div class="breadcrumb">
    <ul>
        <li>
            <a routerLink="">
                <h4>INICIO <span class="barra.crumb"> / </span></h4>
            </a>
        </li>
        <li>
            <h5 id="meninas-title">{{title}}</h5>
        </li>
    </ul>
</div>
<table>
    <tr class="meninas"> 
<table>
    <tr>
        <td><img src="https://static.netshoes.com.br/produtos/skate-completo-iniciante-progress-pgs-vampira/21/DEC-0457-221/DEC-0457-221_zoom1.jpg?ts=1630725367" alt=""></td>
        <td><img src="https://a-static.mlcdn.com.br/1500x1500/skate-feminino-iniciante-completo-progress-pgs-menina-progress-pgs/urbansports/skatemenina/a639ab2ae09cb1b91cd68e7606a8dca1.jpg" alt=""></td>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_profissional_cisco_feminino_girl_powerpuff_abec_7_764_1_20210225101635.jpeg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Skate Completo Iniciante Progress - PGS Vampira</th>
        <th>Skate Completo Street Iniciante First Class - Neve</th>
        <th>Skate Montado Profissional Cisco Feminino Girl Powerpuff - Abec 7</th>
    </tr>
    
    <tr>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_profissional_cisco_feminino_girl_power_revolution_abec_7_768_1_20210225101635.jpeg" alt=""></td>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/shape_cisco_skate_marfim_feminino_gum_8_lixa_brinde_1190_1_e5e2e348e0eb8d34192d8bfe20f1e9d1.jpg" alt=""></td>
        <td><img src="https://static.rockcity.com.br/public/rockcity/imagens/produtos/skate-rock-city-x-dropdead-profissional-rosa-84652.jpg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Skate Montado Profissional Cisco Feminino Girl Power</th>
        <th>Shape Cisco Skate Marfim Feminino Gum 8"</th>
        <th>Skate Rock City x DropDead Profissional Rosa</th>
    </tr>
    
    <tr>
        <td><img src="https://static.netshoes.com.br/produtos/skate-feminino-iniciante-completo-progress-pgs-jovem-poderosa/21/DEC-0016-221/DEC-0016-221_zoom1.jpg?ts=1594084470" alt=""></td>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_profissional_solo_decks_lhama_abec_7_782_1_20210225101635.jpeg" alt=""></td>
        <td><img src="https://cdn.awsli.com.br/600x450/591/591154/produto/111269290/6ae7997772.jpg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Skate Feminino Iniciante Completo Progress - PGS Jovem Poderosa</th>
        <th>Skate Montado Profissional Solo Decks Lhama - até 120kgs</th>
        <th>Skate Montado Black Sheep Semi Profissional 8.0 Feminina Pink</th>
    </tr>
    
    <tr>
        <td><img src="https://images.tcdn.com.br/img/img_prod/735638/skate_montado_profissional_cisco_feminino_girl_power_led_abec_7_760_1_20210225101634.jpeg" alt=""></td>
    </tr>
    <tr class="descrição">
        <th>Skate Montado Profissional Cisco Feminino Girl Power Led - Abec 7</th>
    </tr>
    </table>
    

