
<table>
    <tr>
        <td><img src="https://www.plazaskatestore.com.br/media/catalog/product/cache/1/image/800x/9df78eab33525d08d6e5fb8d27136e95/j/a/jaws_germs.jpg" alt=""></td>
        <td><img src="https://overboard.vteximg.com.br/arquivos/ids/338824-500-500/DSC_3126.jpg?v=637643808337930000" alt=""></td>
        <td><img src="https://savanaskateshop.vteximg.com.br/arquivos/ids/168338-400-400/010035-0.jpg?v=637674052148630000" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Shape Cliche Pro Model Eldridge Originals Preto </th>
        <th>Shape Sims 8.125 - overboard</th>
        <th> Skate - Shapes Face Skate</th>
    </tr>
    
    <tr>
        <td><img src="https://overboard.vteximg.com.br/arquivos/ids/338829-500-500/DSC_3120.jpg?v=637641347842200000" alt=""></td>
        <td><img src="https://www.nativeskatestore.co.uk/images/enjoi-wieger-van-wageningen-vessels-impact-plus-skateboard-deck-8-1-p19421-46478_medium.jpg" alt=""></td>
        <td><img src="https://www.nativeskatestore.co.uk/images/girl-girl-mike-mo-capaldi-fluorescent-og-deck-80-p3365-7318_zoom.jpg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Skate - Shape – overboard </th>
        <th>Wieger Van Wageningen Vessels Impact Plus</th>
        <th>Skateboards Girl Mike Mo Capaldi Fluorescent OG Deck 8.0"</th>
    </tr>
    
    <tr>
        <td><img src="https://res.cloudinary.com/club-nineclouds-com-br/image/upload/b_white,c_pad,h_960,w_720/v1567617502/products/iwuxzwviidlphf51jlfc.jpg" alt=""></td>
        <td><img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/191/845/products/bda858cc-af8c-4023-bdce-5070358bedd81-227952b4acf5188f4b16208544404364-1024-1024.jpeg" alt=""></td>
        <td><img src="https://www.plazaskatestore.com.br/media/catalog/product/cache/1/image/800x/9df78eab33525d08d6e5fb8d27136e95/s/k/skate_or_die.jpg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Shape Nineclouds 9Camo 8.125</th>
        <th>Shape Powell Peralta Vallely Elephant Blue 8.25</th>
        <th>Shape Wood Light Maple 8.75 - Skate or Die</th>
    </tr>
    
    <tr>
        <td><img src="https://www.nativeskatestore.co.uk/images/flip-lance-mountain-vato-skull-deck-90-p3045-6777_zoom.jpg" alt=""></td>
    </tr>
    <tr class="descrição">
        <th>Skateboards Flip Lance Mountain Vato Skull Deck 9.0"</th>
    </tr>
    </table>
    
